streamlit
google-generativeai
python-dotenv
requests
fastapi
uvicorn
pydantic
python-multipart
pandas
openpyxl
# tensorflow  # Opsiyonel: Eğer yerel model (DistilBERT) kullanılacaksa açın
# transformers # Opsiyonel: Eğer yerel model (DistilBERT) kullanılacaksa açın
